<div class="span-24 success">

    <h2>Task Instructions</h2>

    <span class="alt">
      <%= @turkee_task.form_body %>
    </span>

    <hr class="space">

    Link: <%= link_to(truncate(@turkee_task.hit_url,:length => 30, :omission => '...'), @turkee_task.hit_url) %>

</div>

<div class="span-24">

  <%= render :partial => 'spinner' %>

  <div id="results" class="span-11">
    <%= render :partial => 'results' %>
  </div>

  <%= periodically_call_remote(:url => {:action => :results, :id => @turkee_task.id}, :frequency => '30') %>
</div>