<div class="span-24 success">

    <h2>Task Instructions</h2>

    <span class="alt">
      <%= @turkee_task.form_body %>
    </span>

    <br/>
    <%= link_to @turkee_task.hit_url, @turkee_task.hit_url %>

</div>

<div class="span-24">

  <div id="spinner" style="display:none">
    <%= image_tag 'spinner.gif' %> Fetching results from Mechanical Turk.
  </div>

  <div id="results" class="span-11">
    <%= render :partial => 'results' %>
  </div>

  <%= periodically_call_remote(:url => {:action => :results, :id => @turkee_task.id}, :frequency => '30') %>
</div>