<% if @disabled %>
    <div class="span-24 error last">
      <h3><%= image_tag 'stop_sign.gif' %>&nbsp;&nbsp;Click the <span class="alt">"Accept Hit"</span> button above.</h3>
    </div>

    <hr class="space">
<% end %>

<div class="span-24 success">
  <h2>Directions:</h2>
  <span class="alt">
    <%= @turkee_task.form_body %>
  </span>
</div>

<hr class="space">

<%= render :partial => 'spinner' %>

<div id="results" class="span-11">
  <%= render :partial => 'new_results' %>
</div>

<%= periodically_call_remote(:url => {:action  => :results, :id => @turkee_task.id,
                                      :result_partial => 'new_results'}, :frequency => '30') %>
<div class="span-2">
  <h3><span class="alt">- OR -</span></h3>
</div>

<div class="span-11 last turkee">
  <h3>Submit your own</h3>
  For a chance to earn an additional bonus, submit your own creation to be voted on.

  <% turkee_form_for(@iteration, @assignment_id) do |f| %>
      <%= f.hidden_field :turkee_task_id, :value => @turkee_task.id %>
      <p><%= f.text_area :value, :disabled => @disabled %></p>
      <p><%= f.submit 'Create', :disabled => @disabled %></p>
  <% end %>
</div>