<div class="span-24 error last">
  <h3><%= image_tag 'stop_sign.gif' %>&nbsp;&nbsp;Click the <span class="alt">"Accept Hit"</span> button above.</h3>
</div>

<hr class="space">

<div class="span-24 success">
  <h2>Directions:</h2>
  <span class="alt">
    <%= @turkee_task.form_body %>
  </span>
</div>

<hr class="space">

<div class="span-11">
  <h3>Vote for your favorite submission.</h3>

  <table>
    <tr>
      <th>Submission</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Votes</th>
    </tr>

    <% @iterations.each do |iteration| %>
        <tr>

          <td>
            <span class="alt">
              <%= h iteration.value %>
            </span>
          </td>

          <td>
            <% turkee_form_for(IterationVote.new, @assignment_id) do |f| %>
                <%= f.hidden_field :iteration_id, :value => iteration.id %>
                <%= f.submit 'Vote!', :disabled => @disabled %>
            <% end %>
          </td>

          <td>
            <%= link_to_function('Copy', "set_text('iteration_value','#{CGI.escapeHTML(iteration.value)}')") %>
          </td>

          <td>
            <%= h iteration.iteration_votes.count %>
          </td>
        </tr>
    <% end %>
  </table>
</div>

<div class="span-2">
  <h3><span class="alt">- OR -</span></h3>
</div>

<div class="span-11 last turkee">
  <h3>Submit your own</h3>
  For a chance to earn an additional bonus, submit your own creation to be voted on.

  <% turkee_form_for(@iteration, @assignment_id) do |f| %>
      <%= f.hidden_field :turkee_task_id, :value => @iteration.turkee_task.id %>
      <p><%= f.text_area :value, :disabled => @disabled %></p>
      <p><%= f.submit 'Create', :disabled => @disabled %></p>
  <% end %>
</div>