<div class="span-15 turkee">

  <h1>New Turkee Task</h1>

  <% form_for(@turkee_task) do |f| %>
      <%= f.error_messages %>
      <ol>
        <li>
          <%= f.label :hit_title %>
          <br/>
          <%= f.text_field :hit_title %>
        </li>
        <li>
          <%= f.label :hit_description %>
          <br/>
          <%= f.text_area :hit_description %>
        </li>
        <li>
          <%= f.label :form_body, 'Task Instructions (displayed on form)' %>
          <br/>
          <%= f.text_area :form_body %>
        </li>
        <li>
          <%= f.label :hit_reward %>
          $<%= f.text_field :hit_reward, :size => 5 %>
        </li>
        <li>
          <%= f.label :hit_num_assignments %>
          <%= f.text_field :hit_num_assignments, :size => 5 %>
        </li>
        <li>
          <%= f.label :hit_lifetime %>
          <%= f.text_field :hit_lifetime, :size => 5 %>
        </li>
        <li>
          <%= f.label :allow_voting %>
          <%= f.check_box :allow_voting %><p/>
        </li>
        <li>
          <%= f.label :returk, 'Returk Results?' %>
          <%= f.check_box :returk, :onclick => "$('returk_section').toggle('slide');" %><br/>

          <div id="returk_section" style="display:none">
              Take top <%= f.text_field :returk_top_x, :size => 2 %> items.
              <br/>
              <%= f.label :returk_form_body, 'Instructions for all subsequent HITs (displayed on form).  Local variable of \'iteration\' represents value from previous HIT.' %>
              <br/>
              <%= f.text_area :returk_form_body %>
          </div>

        </li>
      </ol>

      <fieldset>
        <legend>Seed Data</legend>
        <%= text_area :seed, :data %>

      </fieldset>
      <%= f.submit 'Create' %>
  <% end %>

</div>

<div class="span-8 last  success">
  <h3>
    <span class="alt">Fields</span>
  </h3>

  <ol>
    <li>Title initially displayed to all Turkers looking for tasks.</li>
    <li>Longer description displayed when a turker clicks on a particular task.</li>
    <li>The body of the task display on the top of the form.</li>
    <li>The amount of money the Turker will be awarded for completing the task.</li>
    <li>Number of Turkers that can perform this HIT.</li>
    <li>The number of days the HIT will be valid.</li>
    <li>Allow for previously submitted entries to be voted on by other turkers?</li>
    <li>When the HIT is complete, take the top results and create a new HIT with those entries as seeds?</li>
  </ol>
  ** <b>Seed data</b> : Start the HIT off with a single data point for other turkers to build off of.

</div>